<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Edit Offer')"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: topNavbar('offer')"></nav>
</header>
<div class="container">
    <h1>edit offer</h1>
    <h1 th:text="|Edit offer for ${offer.pizza.name}|"></h1>

    <form id="create-offer" th:object="${offer}" th:action="@{/offers/edit/{id}(id=${offer.id})}" method="post"
          class="row g-3">

        <input type="hidden" th:field="*{pizza}">

        <div class="col-md-6">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label" for="startDate">Start Date</label>
            <input class="form-control" type="date" id="startDate" th:field="*{startDate}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
                <ul>
                    <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="expireDate">Expire Date</label>
            <input class="form-control" type="date" id="expireDate" th:field="*{expireDate}" th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('expireDate')}">
                <ul>
                    <li th:each="err : ${#fields.errors('expireDate')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-danger" th:href="@{/pizzas/show/{id}(id=*{pizza.id})}">Cancel</a>
        </div>
    </form>
</div>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>